/* <===========FONTS===========>*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* <===========GENERAL STYLE===========> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.oculto {
    display: none;
}

/* <===========HEADER===========> */

header {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}

.menu-navegacao {
    height: 65px;
}

.menu-navegacao>ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.menu-navegacao a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: ghostwhite;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem;
    padding: 0 1rem;
}

.menu-navegacao a:hover {
    cursor: pointer;
    background-color: rgb(248, 248, 255, 0.7);
    color: #051119;
    transition-duration: 450ms;
}

.logo span {
    font-family: "Gemunu Libre", sans-serif;
    color: ghostwhite;
    font-weight: 200;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-inline-start: 2.5rem;
}

.logo-menu {
    display: flex;
    height: 65px;
    justify-content: space-between;

}

/* <===========PROJECT SCOPE===========> */

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #3b4653 0%, #0a3069 100%);
    font-family: "Space Mono", monospace;
    color: #8193B2;
}

.tituloDaPagina {
    font-size: 1.3rem;
    justify-content: center;
    color: #8193B2;
    display: flex;
    font-weight: 200;
}

label {
    color: #8193B2;
}

section {
    flex-direction: column;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 700px;
    height: 350px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
    background-color: #051b3d;
    border: 1.2px solid #0c2a56;
}

.elementos {
    justify-content: space-around;
    padding-bottom: 50px;
    display: flex;
    gap: 10px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: center;
    font-family: "Space Mono", monospace;
    gap: 10px;
}

#btlimpa:hover {
    background-color: rgba(255, 0, 0, 0.192);
}

#btClass:hover {
    background-color: rgb(42, 42, 129);
}

#resultado {
    color: #8193B2;
    text-align: center;
    padding: 5px;
}

button {
    width: 320px;
    line-height: 2.2;
    color: #627597;
    background-color: transparent;
    border: 1px solid #627597;
    border-radius: 6px;
    font-family: "Space Mono", monospace;
}

svg {
    width: 25px;
    height: 25px;
    color: linear-gradient(#24292f, #0a3069);
}


input {
    padding: 5px;
    width: 80%;
    height: 30px;
    background-color: #08234d;
    border-radius: 6px;
    border: none;
    color: #ffffff;
}

input:focus {
    outline: 1px solid blue;
}

datalist {
    background-color: #08234d;
    border-radius: 6px;
    border: none;
    color: #ffffff;
}

datalist:focus {
    outline: 1px solid blue;
    padding-left: 6px;
}

#resultado {
    display: inline-flex;
    justify-content: center;
    padding: 20px;
    color: #8193B2;
    font-family: "Space Mono", monospace;
}

::placeholder {
    font-family: "Space Mono", monospace;
    padding-left: 6px;
    color: #627597;
}

.monetario::before {
    content: "R$";
}

/* <===========TAXA N & M============> */

.elementosTaxaMN {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 5%;
}

/* <===========CLASSIFICA TRIÂNGULO===========>*/

.elementosTriangulo {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
    gap: 5px;
}

/* <================CALCULA PLACAR=================> */


/* <============BACKGROUND EFFETCT=============> */





