@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* <------------GENERAL STYLE-----------> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: #f2f2f2;}

ul {list-style: none;}

.oculto {
    display: none;
}

/* <------------HEADER STYLE------------>*/

header {  
    position: fixed;  
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}

.menu-navegacao {
    height: 65px;
}

.menu-navegacao>ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

.menu-navegacao a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem; /* 120% do tamanho padrão */
    padding: 0 1rem;
}

.menu-navegacao a:hover {
    cursor: pointer;
    background-color: #aaaaaa;
    color: #051119;
    transition-duration: 450ms;
}

.logo span{
    font-family: "Gemunu Libre", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-inline-start: 2.5rem;
}

.logo-menu {
    display: flex;
    height: 65px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

/* <------------CONTAINER STYLE------------>*/

p {
    font-family: "DM Sans", sans-serif;
    color: #9c9a9a;
    font-weight: 300;
    font-size: 1.1rem;
    padding: 10px;
}

span {
    font-size: 2.5rem;
    font-family: "Gemunu Libre", sans-serif;
    font-weight: 200;
    color: #00A9FF;
}

svg {
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background-color: rgb(245, 250, 255);
    border-radius: 50px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.container a {
    align-items: center;
    display: inline-flex;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    color: #000000;
    padding: 10px;
}

.container {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
}
