@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* <------------GENERAL STYLE-----------> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: #f2f2f2;}

ul {list-style: none;}

.oculto {
    display: none;
}

/* <------------HEADER STYLE------------>*/

header {  
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}


.menu-navegacao>ul {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu-navegacao a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    font-size: 1.2rem; /* 120% do tamanho padrão */
    padding: 1.5rem 1rem;
}

.menu-navegacao a:hover {
    cursor: pointer;
    background-color: #aaaaaa;
    color: #051119;
    transition-duration: 450ms;
}

.logo span{
    font-family: "Gemunu Libre", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-inline-start: 2.5rem;
    color: #00A9FF;
}

.logo-menu {
    display: flex;
    height: 65px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

/* <------------CONTAINER STYLE------------>*/

p {
    font-family: "DM Sans", sans-serif;
    color: #9c9a9a;
    font-weight: 300;
    font-size: 1.1rem;
    padding: 10px;
}

svg {
    display: flex;
    align-items: center;
    margin: 10px 0 0 10px;
}


.card {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.container a {
    align-items: center;
    display: inline-flex;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    color: #000000;
    padding: 10px;
}

.container {
    margin: 4rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    gap: 20px; 
}

/*<------------MENU HAMBURGUER------------>*/

.hamburguer {
    z-index: 1;
    border: none;
    background: none;
    border-top: 3px solid #000;
    cursor: pointer;
    height: 20px;
}

.hamburguer::before,
.hamburguer::after {
    z-index: 1;
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
}