/* estilo geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    background-color: #fffdff; 
}

h1{
    text-align: center;
    padding: 2%;
}


body {
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    width: 250px;
    height: 300px;
    background-color: #f0f0f0;
    padding: 1%;
    align-items: center;
}

input{
    border: none;
    border-radius: 1px; 
}

.butao{
    padding-top: 10%;
}

button{
    border: none;
    border-radius: 1%;
}

button#btClass{
    padding: 1px;
    background-color: #4afc52;
    border-radius: 7px;
}

button#btlimpa{
    padding-right: 10%;
    padding: 1px;
    background-color: #e91001;
    border-radius:7px;
}
