/* <------------GENERAL STYLE-----------> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: #f2f2f2;}

ul {list-style: none;}

/* <------------HEADER STYLE------------>*/



/* <------------CONTAINER STYLE------------>*/

p {
    font-family: "DM Sans", sans-serif;
    color: #D6D6D6;
    font-weight: 300;
    padding: 10px;
}

span {
    font-size: 2rem;
    font-family: "Gemunu Libre", sans-serif;
    font-weight: 200;
    color: #00A9FF;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background-color: rgb(245, 250, 255);
    border-radius: 50px;
}

.card {
    width: 20rem;
    height: 30rem;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.container a {
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;;
    color: #000000;
    padding: 10px;
}

.container{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}
